.chat-side
  .side-header
    .side-header__box
      %p.sideheader__box__user-name
        = current_user.name
      %ul.side-header__box__icon
        %li.side-header__box__icon__new-group
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'icon')
        %li.side-header__box__icon__edit-user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          %p.group__group-name
            =group.name
          %p.group__latest-message
            = group.show_last_message
    -# = link_to '#' do
    -#   .group
    -#     %p.group__group-name
    -#       k
    -#     %p.group__latest-message
    -#       まだメッセージはありません
    -# = link_to '#' do
    -#   .group
    -#     %p.group__group-name
    -#       k
    -#     %p.group__latest-message
    -#       まだメッセージはありません