.chat-side
  .side-header
    .side-header__box
      %p.sideheader__box__user-name
        k
      %ul.side-header__box__icon
        %li.side-header__box__icon__new-group
          = link_to '#' do
            %i.fa.fa-cog
        %li.side-header__box__icon__edit-user
          = link_to '#' do
            %i.far.fa-edit
  .groups
    = link_to '#' do
      .group
        %p.group__group-name
          k
        %p.group__latest-message
          まだメッセージはありません
    = link_to '#' do
      .group
        %p.group__group-name
          k
        %p.group__latest-message
          まだメッセージはありません
    = link_to '#' do
      .group
        %p.group__group-name
          k
        %p.group__latest-message
          まだメッセージはありません